.TableDiv {
  display: block;
  height: 50vh;
  overflow-y: scroll;
}

.Table {
  table-layout: auto;
  border-radius: 5px;
  background: white;
  padding: 10px;
  width: 75vw;
}

tbody {
  display: table-header-group;
}

th,
td {
  padding: 0;
  width: 30%;
}

th {
  position: sticky;
  top: 0;
}

tr:nth-child(even) {
  background: WhiteSmoke;
}

th {
  background: WhiteSmoke;
};