.Table {
  table-layout: fixed;
  border-radius: 5px;
  background: white;
  padding: 10px;
  width: 90%;
}

th,
td {
  padding: 0;
  width: 100px;
  overflow: hidden;
}

tr:nth-child(even) {
  background: WhiteSmoke;
}

th {
  background: WhiteSmoke;
};